<style>
li {
  display: inline;
}
  li:before {
    content: "|"
  }
  ul:after {
    content: "|"
  }
</style>
<nav>
  <ul>
    <li>
      <a href="{{site.baseurl}}/" {% if page.url == "/" %}style="color: YellowGreen;"{% endif %}>Home</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/About.html" {% if page.url == "/About.html" %}style="color: YellowGreen;"{% endif %}>About Me</a>
    </li>
    <li>
      <dt {% if page.url == "/About.html" %}style="color: YellowGreen;"{% endif %}>jakis text</dt>
      <dt>site baseurl = {{site.baseurl}}</dt>
      <dt>page url = {{page.url}}</dt>
    </li>
  </ul>
</nav>
